<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <link href="css/ionic.app.css" rel="stylesheet">
        <title>Pizza prices comparer</title>    
    </head>
    <body ng-app="pizza_comparer" ng-controller="PizzaListController">
        <ion-header-bar align-title="left" class="bar-dark">
            <a class="button button-icon icon ion-pizza" href="#"></a>
            <h1 class="title">Pizze</h1>
            <button class="button icon ion-settings" ng-click="openSettings()"></button>
        </ion-header-bar>
        <ion-content>
            <div class="list" ng-cloak>
                <a class="item item-icon-right item-button-right" href="#" ng-click="editPizza(pizza)" ng-repeat="pizza in pizzas">
                    {{pizza.name}} ({{pizza.diameter}}{{settings.unit.code}} za {{pizza.price}}{{settings.currency.short}})
                    <div class="buttons">
                        <button class="button button-light">
                          {{pizza.pricePerSize()}} {{settings.currency.short}}/{{settings.unit.code}}2
                        </button>
                        <button class="button button-assertive" ng-click="removePizza(pizza)">
                          <i class="icon ion-trash-b"></i>
                        </button>
                    </div>
                </a>
            </div>
            <button class="button button-block button-positive icon-left ion-android-add" ng-click="addNewPizza()">
              Dodaj nową pizzę
            </button>
        </ion-content>
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="js/app.js"></script>
        <script src="cordova.js"></script>
    </body>
</html>